<!DOCTYPE html>
<html>
    <head>
        <title>OZ Netpositive Teszt</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>number</th>
                    <th>source</th>
                    <th>time</th>
                    <th>message</th>
                </tr>
            </thead>
            <tbody>
                {% for one in finalList %}
                <tr>
                    <td> {{  loop.index }}</td>
                    <td> {{  one.source }}</td>
                    <td> {{  one.time }}</td>
                    <td> {{  one.message }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </body>
</html>